* {
    font-family: Consolas, 'Courier New', monospace;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    color: var(--text);
}
:root {
    --text: black;
    --primary: #35b189;
    --secondary:#6bccac;
    --highlight: #96d8c3;
    --monochrome1: rgb(133, 129, 121);
    --monochrome2: rgb(173, 173, 173);
    --gradibg: linear-gradient(to bottom, var(--monochrome2), var(--monochrome1));
    --footbg: black;
    --alttext: white;
    --graditext: linear-gradient(to right, rgb(48, 204, 0), rgb(224, 228, 27), gold);
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    gap: 2vw;
    z-index: 1;
}
.bg {
    position: fixed;
    top: 0;
    left: -25%;
    width: 100vw;
    height: 100vh;
    color: transparent;
    background-image: radial-gradient(circle 50vh at 50% 100%, #b6b6b6, #31313100); 
    background-size: 50% 110%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 0;
}
section {
    margin: 0 0 0 8vw;
    padding: 10px;
    width: 92vw;
    min-height: 20vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 8px;
    z-index: 2;
}
h1 {
    margin-top: auto;
    font-size: 34px;
    width: 90%;
}
h2 {
    font-size: 20px;
    width: 90%;
}
p {
    width: 90%;
}
a {
    transition: all 0.4s ease-in-out;
}
span {
    font-size: inherit;
    background: var(--graditext);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* top bar stuff */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    z-index: 20;
}
nav {
    padding: 8px 6vw;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: end;
    gap: 10px;
}
nav .linkie {
    margin: 0;
    padding: 3px 8px;
    width: max-content;
    background: none;
    border-radius: 5px;
}
nav .dashb,
nav .linkie:nth-child(2) {
    background: var(--secondary);
}


/* content or just stuff */
.sect_1 {
    height: 90vh;
}
.linkie-button {
    margin-bottom: 28vh;
    display: flex;
    gap: 5px;
}
.Apps,
.Games {
    padding: 5px 10px;
    border: 1px solid gray;
}

.libs_main_container,
.map_main_container,
.rect_main_container
{
    padding: 10px 0 0 0;
}
.libs_main_container h2,
.map_main_container h2,
.rect_main_container h2,
.libs_main_container p,
.map_main_container p,
.rect_main_container p
{
    margin: 0 10px;
}

.map-container,
.libs-container {
    position: relative;
    padding: 0 0 10px 0;
    width: 100%;
    height: max-content;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    color: var(--alttext);
}
.mile-container,
.libs {
    position: relative;
    margin: auto auto auto 2.5%;
    padding: 10px 5px;
    width: calc(90%/4);
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background: var(--gradibg);
    border-radius: 6px;
    color: inherit;
    gap: 2px;
    z-index: 4;
}
.libs-title,
.libs-title {
    width: 100%;
    color: inherit;
    overflow: hidden;
}
.libs-status,
.libs-dates,
.libs-dates,
.libs-desc,
.libs-tag,
.libs-link
{
    color: inherit;
}

.libs-dates {
    font-size: 13px;
    font-weight: 600;
}

.libs-banner {
    margin: auto;
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    color: transparent;
}
.libs-link,
.libs-link
{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    z-index: 5;
}

.libs-desc {
    max-height: 55%;
    font-size: 14px;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--alttext), var(--alttext),  var(--alttext), var(--alttext), rgba(255, 255, 255, 0.493));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* linkie linkie */
.link-container {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    color: var(--alttext);
}
.redirector,
.suggestion-n-smol-feedback-container {
    margin: 4vh auto;
    width: 45%;
    height: 40vh;
    aspect-ratio: 1/2;
    display: flex;
    flex-direction: column;
    border: 1px gray;
    border-radius: 8px;
    background: var(--primary);
    color: inherit;
}
.redirector .title,
.suggestion-n-smol-feedback-container .title
{
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    text-align: center;
    color: inherit;
}
.redirector .desc,
.suggestion-n-smol-feedback-container .desc
{
    margin: auto auto 3px auto;
    padding: 5px;
    width: 80%;
    text-align: center;
    color: inherit;
}
.redirector .version {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    text-align: center;
    color: inherit;
} 
.linkie {
    margin: 0 auto 10px auto;
    padding: 5px;
    width: 80%;
    text-align: center;
    background: var(--secondary);
    border: 1px gray;
    border-radius: 8px;
    color: inherit;
}
.linkie:hover {
    animation: hover_animation 0.4s ease-in-out forwards;
}

.comes_soon {
    padding: 6vh 10px;
    min-height: unset;
    justify-content: center;
}
.comes_soon h2,
.comes_soon p {
    width: 100%;
    text-align: center;
}


/* le footer */
footer {
    padding: 10px 6vw;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--footbg);
    color: var(--alttext);
    z-index: 2;
}
.footer-group {
    padding: 30px;
    width: 40vw;
    height: 66%;
    display: flex;
    flex-direction: column;
    color: inherit;
}
.footer-group:nth-child(2) {
    align-items: end;
}
.footer-title, .footer-subtitle,
.footer-menu_group, .menu_button,
.copyright, .copyright p {
    color: inherit;
}

.footer-title {
    font-size: 32px;
}
.footer-group:nth-child(2) .footer-title {
    text-align: right;
}
.footer-subtitle {
    font-size: 20px;
}

.footer-menu_group {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.copyright {
    margin: auto 0 0 0;
    width: 100vw;
    max-width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.things {
    color: inherit;
    width: 100%;
    height: min-content;
    text-align: center;
    font-size: calc(90vw/7);
}


/* animation */
@keyframes hover_animation {
    0% {
        background: var(--secondary);
        color: var(--alttext);
    }
    100% {
        background: var(--highlight);
        color: var(--text);
    }
}
