.form-1 {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}
.EntryPanel {
    margin: 0 auto;
    padding: 14px;
    gap: 8px;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, var(--secondary), var(--primary));
}
.EntryPanel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: -1;
}

.special-form-input {
    margin: auto auto auto 0;
    width: 48%;
    display: flex;
    flex-direction: column;
}
.form-input-container {
    margin: auto 10px auto auto;
    width: 45%;
    display: flex;
    flex-direction: column;
}
.form-input-row {
    margin: 5px auto;
    width: 96%;
    display: flex;
    flex-direction: column;
}
.form-input-row-2 {
    margin: 5px auto;
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form-input-row .inptxt,
.form-input-row .inpselect {
    margin: 5px 0 0 0;
    padding: 7px;
    border-radius: 10px;
    color: black;
}
.inpselect option {
    color: black;
}
.form-input-row .promptText {
    margin: -10px 0 0 0;
    text-align: center;
    color: white;
}
.promptText .LRredirect {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: rgb(28, 54, 255);
    text-decoration: underline;
}
.hiddeninp {
    height: 0;
    font-size: 0;
    border: none;
    background: var(--background);
    color: var(--background);
}


.default-card {
    margin: auto;
    padding: 18px 24px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    aspect-ratio: 2/1;
    border: none;
    border-radius: 13px;
}
.card-title {
    color: black;
    font-size: 24px;
    font-weight: 700;
}
.card-description {
    color: black;
}

.card-1 {
    background: #0d6ae4;
}
.card-2 {
    background: #ffffff;
}


.thedatatable {
    margin: 15px auto 15px auto;
    width: 92%;
    border-collapse: collapse;
    border-spacing: 0;
}
.thedatatable tr {
    border: 2px solid var(--text);
}
.thedatatable td {
    border: 1px solid var(--text);
    padding: 10px;
}


.Comment-Form {
    position: fixed;
    inset: calc(100vh - 73px) 1vw 10px calc(100vw - 34vw);
    width: 33vw;
    max-height: 63px;
    background: whitesmoke;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.CommentInp {
    padding: 7px;
    width: 83%;
    border: solid 1px inherit;
    border-radius: 10px;
    color: black;
}
.SendBtn {
    margin: auto 0;
    width: 8%;
    aspect-ratio: 1/1;
    border: solid 1px inherit;
    border-radius: 50%;
    background: url(../img/paper-plane-outline.png);
    background-position: 40% 60%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: white;
}

.Like-Form {
    position: fixed;
    inset: calc(100vh - 70px) calc(100vh - 70px) 20px 20px;
    width: 50px;
    height: 50px;
    background: var(--secondary);
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LikeButton {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    background: url(../img/Like.png);
    background-position: 40% 60%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
.LikeButton:hover {
    animation: rotates 0.6s forwards;
}
@keyframes rotates {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.DisLikeButton {
    width: 100%;
    height: 100%;
    border: none;
    border: none;
    border-radius: 15px;
    background: url(../img/DisLike.png);
    background-position: 40% 60%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: transparent;
}


/* mobile styling adjustment */
@media only screen and (orientation: portrait) {
    .EntryPanel {
        width: 100%;
        border: none;
    }
    .Comment-Form {
        inset: unset;
        bottom: 11vh;
        right: 10px;
        padding: 0 0 0 5px;
        width: calc(100vw - 11vw - 25px);
        height: 11vw;
        max-height: 11vw;
        gap: 10px;
    }
    .CommentInp {
        margin: auto;
        padding: 2px;
        border-radius: 4px;
        font-size: unset;
    }
    .SendBtn {
        margin: auto auto auto 0;
    }

    .Like-Form {
        inset: unset;
        bottom: 11vh;
        left: 10px;
        width: 11vw;
        height: auto;
        aspect-ratio: 1/1;
    }
    .DisLikeButton {
        animation: rotates 0.6s forwards;
    }
    .Comment-Form,
    .Like-Form,
    .LikeButton,
    .DisLikeButton {
        border-radius: 5px;
    }
    
    .form-1 {
        justify-content: center;
    }
    .special-form-input,
    .form-input-container {
        width: 96%;
    }
    .form-input-row label,
    .form-input-row .inptxt,
    .ActionButton,
    .promptText,
    .LRredirect {
        font-size: calc(10px + 1.45vw);
    }
}