
/* le footer */
footer {
    padding: 10px 6vw;
    width: 100%;
    min-height: 60vh;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--footbg);
    color: var(--text);
    z-index: 100;
}
.footer-group {
    padding: 30px;
    width: 40vw;
    height: 75%;
    display: flex;
    color: inherit;
}
.footer-group:nth-child(2) {
    align-items: end;
}
.footer-title, .footer-subtitle,
.footer-menu_group, .menu_button,
.copyright, .copyright p {
    color: inherit;
}

.footer-title {
    font-size: 32px;
}

.footer-menu_group {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.legal {
    margin: auto 0;
    width: 70vw;
    max-width: 70vw;
    height: max-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
.extra {
    color: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.extra h2 {
    color: inherit;
    width: 100%;
    height: min-content;
    text-align: center;
    font-size: calc(90vw/7);
}