/* dasbord */
.container_again {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Hforum-display,
.forum-display {
    padding: 5px 2vw;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
.highligthed-forum-container,
.forum-container {
    position: relative;
    margin: auto 0;
    padding: 5px;
    width: 32%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    color: var(--alttext);
    background: var(--padBG);
    border: 1px solid var(--borderA);
    border-radius: 8px;
}
.forum-title {
    margin: 14px auto 0 auto;
    width: 94%;
    color: inherit;
    font-size: 20px;
    overflow: hidden;
}
.forum-username {
    margin: 0 auto;
    width: 94%;
    color: inherit;
}
.topic {
    max-width: 80%;
    font-size: 14px;
    overflow: hidden;
    color: inherit;
}
.dates {
    font-size: 14px;
    color: inherit;
}
.forum-content {
    margin: 2px auto 0 auto;
    width: 94%;
    min-height: 14vh;
    font-size: 16px;
    border-radius: 6px;
    color: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}
.forum-link,
.topic-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    z-index: 7;
}

/* for mini topics */
.mitol-container {
    position: fixed;
    padding: 15px 5px;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--alttext);
    background: var(--listBG);
    border: 1px solid gray;
    overflow: auto;
    gap: 8px;
}
.mini-topic-list {
    position: relative;
    margin: 0 auto;
    padding: 5px 10px;
    width: 94%;
    display: flex;
    flex-direction: column;
    color: inherit;
    background: var(--padBG);
    border: 1px solid gray;
    border-radius: 8px;
}
.mitol-title {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

/* Topic Paging */
.topic-lister {
    padding: 8vh 7.5vw;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}
.topic-container {
    padding: 5px 0;
    position: relative;
    width: 25vw;
    display: flex;
    flex-direction: column;
    background: var(--LibsGrad1);
    color: var(--alttext);
    border-radius: 4px;
}
.topic-banner {
    margin: 5px auto;
    aspect-ratio: 16/9;
    width: 90%;
    object-fit: cover;
    object-position: center;
}
.topic-title {
    margin: 5px auto 0 auto;
    width: 94%;
    font-size: 20px;
    color: inherit;
}
.detail-wrap {
    padding: 5px 0;
    margin: 0 auto;
    width: 94%;
    display: flex;
    justify-content: space-between;
    color: inherit;
}
.topic-id {
    max-width: 80%;
    font-size: 14px;
    color: inherit;
    overflow: hidden;
}
.dates {
    font-size: 14px;
    color: inherit;
}
.topic-desc {
    margin: 2px auto 10px auto;
    width: 94%;
    height: 10vh;
    font-size: 16px;
    border-radius: 6px;
    color: inherit;
    overflow: hidden;
}
.unknown {
    margin: auto;
    width: 50%;
    color: inherit;
    font-size: 18px;
}

.zthing {
    padding: 5px;
    margin: auto;
    color: inherit;
    font-size: 17px;
}
