body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    z-index: 1;
}

/* top bar stuff */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    z-index: 20;
}
nav {
    padding: 8px 2vw;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    z-index: 30;
}
.nav-button {
    padding: 8px;
    font-size: 18px;
}

.linkie-button {
    padding: 8px 2vw 8px 6vw;
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    z-index: 30;
}
.linkie-button .linkie {
    padding: 8px;
    font-size: 18px;
    width: max-content;
    background: none;
    border-radius: 5px;
}
.linkie-button .dashb,
.linkie-button .linkie:nth-child(2) {
    background: var(--secondary);
}

/* general stylized content */
section {
    padding: 10px 0;
    width: 88%;
    min-height: 20vh;
    height: max-content;
    display: flex;
}
h1 {
    margin-top: auto;
    width: 90%;
}
a {
    transition: all 0.4s;
}
span {
    font-size: inherit;
    background: var(--LibsGrad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* bg */
.bg-1 {
    background: var(--LibsBG1);
}
.bg-2 {
    background: linear-gradient(to bottom, var(--monochrome1), rgb(57, 69, 77));
}
.bg-3 {
    background: #00000068;
}
.bg-4 {
    background: linear-gradient(to bottom, var(--monochrome1), rgb(93, 111, 123));
}
.bg-5 {
    background: var(--primary);
}

/* uni section */
.section-type-1 {
    padding: 4vh 0;
    width: 88%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section-type-2 {
    display: flex;
    flex-wrap: wrap;
}

/* uni container */
.container-type-1,
.container-type-2,
.container-type-3 {
    display: flex;
}
.container-type-2 {
    width: 100%;
    flex-direction: column;
}

/* tables */
.table-type-1 {
    width: 70%;
}

/* uni param */
.posf {
    position: fixed;
}
.posr {
    position: relative;
}
.posa {
    position: absolute;
}
.ins0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.lt0 {
    top: 0;
    left: 0;
}

.pad-s {
    padding: 10px;
}
.pad-n {
    padding: 15px;
}
.pad-b {
    padding: 5vw;
}

.autoMg {
    margin: auto;
}
.sideMg {
    margin: 0 auto;
}
.vertiMg {
    margin: auto 0;
}
.topMg {
    margin-top: auto;
}
.leftMg {
    margin-left: auto;
}
.rightMg {
    margin-right: auto;
}
.bottomMg {
    margin-bottom: auto;
}

/* uni size */
.wh100 {
    width: 100vw;
    height: 100vh;
}
.wh100p {
    width: 100%;
    height: 100%;
}
.wh50 {
    width: 50vw;
    height: 50vh;
}
.wh50p {
    width: 50%;
    height: 50%;
}
.w20 {
    width: 20vw;
}
.w20p {
    width: 20%;
}
.w30 {
    width: 30vw;
}
.w30p {
    width: 30%;
}
.w65 {
    width: 65vw;
}
.w65p {
    width: 65%;
}
.w75 {
    width: 75vw;
}
.w75p {
    width: 75%;
}
.w79 {
    width: 79vw;
}
.w79p {
    width: 79%;
}
.w88 {
    width: 88vw;
}
.w88p {
    width: 88%;
}
.w100 {
    width: 100vw;
}
.w100p {
    width: 100%;
}
.h20 {
    height: 20vh;
}
.h20p {
    height: 20%;
}
.h25 {
    height: 25vh;
}
.h25p {
    height: 25%;
}
.h30 {
    height: 30vh;
}
.h30p {
    height: 30%;
}
.h40 {
    height: 40vh;
}
.h40p {
    height: 40%;
}
.h50 {
    height: 50vh;
}
.h50p {
    height: 50%;
}
.h60 {
    height: 60vh;
}
.h60p {
    height: 60%;
}
.h80 {
    height: 80vh;
}
.h80p {
    height: 80%;
}
.h100 {
    height: 100vh;
}
.h100p {
    height: 100%;
}

/* ratio */
.r16-9 {
    aspect-ratio: 16/9;
}

/* uni flex */
.flex {
    display: flex;
}
.fld {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.acjc {
    align-items: center;
    justify-content: center;
}

.ovs {
    overflow: scroll;
}

.highlighted {
    background-color: rgba(255, 255, 255, 0.26);
}

.gap {
    gap: 2vw;
}
.gap-s {
    gap: 0.8vw;
}
.gap-b {
    gap: 4vw;
}
.gap10 {
    gap: 5px;
}

/* text param */
.txtc {
    text-align: center;
}
.txtr {
    text-align: right;
}
.txt-ms {
    font-size: 11px;
}
.txt-s {
    font-size: 14px;
}
.txt-n {
    font-size: 18px;
}
.txt-b {
    font-size: 20px;
}

/* uni icon */
.icon-s {
    width: 10vh;
    height: 10vh;
    aspect-ratio: 1;
}
.icon-n {
    width: 25vh;
    height: 25vh;
    aspect-ratio: 1;
}
.icon-b {
    width: 40vh;
    height: 40vh;
    aspect-ratio: 1;
}

/* uni border */
.border-1 {
    border: 1px solid var(--borderA);
}
.border-r {
    border-right: 1px solid var(--borderA);
}
.border-l {
    border-left: 1px solid var(--LibsBG2);
}

/* border radius */
.bora-s {
    border-radius: 5px;
}
.bora-n {
    border-radius: 12px;
}

/* uni zindex */
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z5 {
    z-index: 5;
}
.z10 {
    z-index: 10;
}
.z15 {
    z-index: 15;
}


.link-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    z-index: 20;
}

.title {
    font-size: 29px;
}
.title-2 {
    font-size: 20px;
}

.desc {
    font-size: 15px;
}

.connected-unit {
    margin: 5vh auto;
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
}
.software {
    padding: 10px 6px;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attachs {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid white;
}
.titles {
    padding: 6px 0;
    width: 90%;
    font-size: 17px;
    text-align: center;
}
/* Alcyoneus Sueno Alcy */