body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    z-index: 1;
}

/* top bar stuff */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    z-index: 20;
}
nav {
    padding: 8px 2vw;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    z-index: 30;
}
.nav-button {
    padding: 8px;
    font-size: 18px;
}

.linkie-button {
    padding: 8px 2vw 8px 6vw;
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    z-index: 30;
}
.linkie-button .linkie {
    padding: 8px;
    font-size: 18px;
    width: max-content;
    background: none;
    border-radius: 5px;
}
.linkie-button .dashb,
.linkie-button .linkie:nth-child(2) {
    background: var(--secondary);
}

/* general stylized content */
section {
    padding: 10px 0;
    width: 88%;
    min-height: 20vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 7px;
    gap: 8px;
    z-index: 2;
}
h1 {
    margin-top: auto;
    font-size: 29px;
    width: 90%;
}
h2 {
    font-size: 20px;
    width: 90%;
}
p {
    width: 90%;
}
a {
    transition: all 0.4s;
}
span {
    font-size: inherit;
    background: var(--LibsGrad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about {
    padding: 4vh 0;
    width: 88%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.desc {
    font-size: 15px;
}

.connected-unit {
    width: 88%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.software {
    padding: 10px 6px;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attachs {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid white;
}
.titles {
    padding: 6px 0;
    width: 90%;
    font-size: 17px;
    text-align: center;
}