body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-display,
.publication-display
{
    margin: 0 auto;
    width: 100%;
    max-width: 92vw;
    height: 50vh;
    display: flex;
}
.profile-names,
.detail-wrap,
.profile-bios,
.libs-titles,
.publishes
{
    width: 100%;
}
.profile-icon {
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
}
.profile-image {
    margin: auto;
    aspect-ratio: 1/1;
    height: 70%;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}
.profile-icon-replacement {
    margin: auto;
    aspect-ratio: 1/1;
    height: 70%;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--LibsBG1);
    border-radius: 50%;
}
.profile-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile-names {
    margin-top: auto;
    font-size: 28px;
    text-align: left;
}
.detail-wrap {
    display: flex;
}
.uFolws {
    text-align: left;
    width: 50%;
}
.JDates {
    text-align: right;
    width: 50%;
}
.profile-bios {
    padding: 5px 7px;
    min-height: 20vh;
    max-height: 25vh;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--borderA);
    border-radius: 4px;
    overflow-y: scroll;
}
.edit-button {
    padding: 5px calc(1vw + 1vh);
    margin: 3px auto auto 0;
    width: max-content;
    font-size: 14px;
    background: var(--LibsBG1);
    border-radius: 4px;
}

.publication-display {
    margin: 0 auto;
    width: 100%;
    max-width: 92vw;
    height: 50vh;
    display: flex;
    justify-content: end;
}
.publishes {
    padding: 6px;
    width: 25vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--borderA);
    border-radius: 3px;
}
.publish-attachs {
    margin-bottom: 5px;
    aspect-ratio: 16/9;
}
.libs-titles {
    font-size: 17px;
}

#edit-dialog {
    top: 15vh;
    left: 27.5vw;
    width: 45vw;
    height: auto;
    max-height: 70vh;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}
.dialog-nav {
    margin: 0 5px 0 0;
}
.univ-form {
    height: auto;
    overflow: hidden;
}
.form-input-row .inptxt {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    resize: none;
}
.edit-submit {
    margin: 5px auto;
    font-size: 17px;
}