body {
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
.topic-capsule {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.topic-banner {
    margin: 4px auto 3vh auto;
    width: 70%;
    aspect-ratio: 16/9;
    background: var(--LibsBG3);
    border-radius: 4px;
}
.topic-titles {
    margin: 3vh 4vw 2px 4vw;
    width: 92vw;
    font-size: 24px;
    font-weight: 600;
    text-wrap: wrap;
}
.topic-dates {
    margin: 2px 4vw 10px 4vw;
    width: 92vw;
}
.topic-desc {
    margin: 2px 4vw;
    min-height: 5vh;
    text-wrap: wrap;
}

.forum-display {
    margin: 2px 4vw 10px 4vw;
    padding: 5px 0;
    width: 92vw;
    justify-content: unset;
}
.forum-container {
    width: 30vw;
}